<template name="note_fixe">
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		commentaire fixe
		
</template>