<template name="myCourse">
	<span class="help-block">Create or select one of your course</span>
	{{> addCourseForm}}
	{{> myCoursesTables}}	
 </template>


 <template name="addCourseForm">
	<div id="formulaire">
			<form class="form-inline">
				<div class="form-group {{succWarnDangStyle}} has-feedback">
					<input type="text" class="form-control" placeholder="Course Name" name="courseName">
					<span class="glyphicon {{succWarnDangIcone}} form-control-feedback" aria-hidden="true"></span>
				</div>
				<span id="helpBlock2" class="help-block">{{succWarnDangText}}</span>
				<input type='file' class='myFileInput'>
				<p class="help-block">Select your course as a reveal</p>
			</form>
			
	</div>
</template>


<template name="myCoursesTables">
	{{> reactiveTable settings=settings}}
</template>

<template name="actionCourse">
	<button id="remove" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<a href="{{pathFor 'reveal'}}" id="join" class="btn btn-xs btn-primary"> <span class="glyphicon glyphicon-pencil"></span></a>
</template>