<template name="coursesTables">
	{{#each course}}
		<li class='course'>
			<b>{{name}}</b> created by {{DisplayAuthor author}} at {{DisplayDate createdAt}}, <small><i>{{listener}} collaborators</i></small> {{slides}}
			
			{{#if mouseOnDelete}} 
				<a id="remove" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> </a>
			{{/if}}
			{{#if mouseOnJoin}}
				{{#if currentUser}}
					<a href="{{pathFor 'reveal'}}" id="join" class="btn btn-xs btn-primary"> <span class="glyphicon glyphicon-pencil"></span></a>
				{{/if}}
			{{/if}}
		</li>
	{{/each}}
</template>

<template name="addCourseForm">
	Select a course to contribute or create a new course
	<div id="formulaire">
		{{#if currentUser}}
<!-- 			<form>
				<input type="text" class="form-control" name="courseName" placeholder="Type to add new course" id="inputSuccess4" aria-describedby="inputSuccess4Status">
				<input type="submit" class="btn btn-default" value="Add Course">
			</form> -->
			<form class="form-inline">
			  <div class="form-group has-success has-feedback">
			    <input type="text" class="form-control" id="inputSuccess4" aria-describedby="inputSuccess4Status" placeholder="Type to add new course" name="courseName">
			    <span class="glyphicon glyphicon-plus form-control-feedback" aria-hidden="true"></span>
			    <span id="inputSuccess4Status" class="sr-only">(success)</span>
			  </div>
			</form>
		{{/if}}
	</div>
</template>