<template name="addCourseForm">
	<div id="formulaire">
			<form class="form-inline">
				<div class="form-group {{succWarnDangStyle}} has-feedback">
					<input type="text" class="form-control" placeholder="Course Name" name="courseName">
					<span class="glyphicon {{succWarnDangIcone}} form-control-feedback" aria-hidden="true"></span>
					<!-- <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span> -->
				</div>
				<span id="helpBlock2" class="help-block">{{succWarnDangText}}</span>
			</form>

	</div>
</template>


<template name="myCoursesTables">
	{{> reactiveTable settings=settings}}
</template>

<template name="coursesTables">
	{{> reactiveTable settings=settings}}
</template>

<template name="noCourse">
	<h3> Pleaz add a course </h3>
</template>


<template name="actionCourse">
	{{#if mouseOnDelete}} 
		<a id="remove" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> </a>
	{{/if}}
	{{#if mouseOnJoin}}
		{{#if currentUser}}
			<a href="{{pathFor 'reveal'}}" id="join" class="btn btn-xs btn-primary"> <span class="glyphicon glyphicon-pencil"></span></a>
		{{/if}}
	{{/if}}
</template>