/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: arial, Georgia, Serif;
  text-align: center;
  background: #efefef;
}

form {
     display:inline;
     margin:0px;
     padding:0px;
}

/* 
* Events
*/
.mouseOn{
	background-color: #D8D8D8 ;
}
.selected{
	background-color: #C0C0C0 ;
}
.navbar{
  position : absolute;
}
.mouseOnWord{
	background-color: #FFFF99 ;
}
.selectedWord{
	background-color: #FFFF66 ;
}
.panel{
  width: 80%;
  margin: 0 auto; 
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/* 
* Navbar 
*/
.navbar{
  font-weight: bold;
  width: auto;
}
.navbar-inverse .navbar-brand{
  font-size : 22px;
}

#login-buttons {
  position: relative;
  top: 15px;
}
/* 
* Carousel base class 
*/
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  margin-bottom: auto;
  margin-top: auto;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;

}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


button, input, optgroup, select, textarea {
  color : black;
}

#about{
	border:solid;
	border-color:grey;
	padding:10px;
	border-style:groove;	
	border-radius:2px;
	border-width:12px;
	width:300px;
	margin-top : 200px;
	margin-left:auto;
	margin-right:auto;
}

.panel-body{
  text-align:center;
}

#main{
	display:block;
	margin:100px;
}

/*
* Reveal 
*/
.reveal .progress{
	height:5px;
	background-color:red;
}

.reveal aside.notes {
	display:block;
}

.real .progress span {
	background-color:red;
}

/*
* Login
*/
#login-dropdown-list {
    position: absolute;
    top: 200px;
    left: -50px;
    margin : auto;
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}

/* 
* liste de cours
*/
.course{
	margin-top:5px;
	margin:4px;
}

#champ1{
	margin:30px;
}

/* 
* Upload file
*/
.jqDropZone {
    background: lightgrey;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.jqDropZone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.jqDropZone.hover {
    background: lawngreen;
}
.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/*
 * Responsive CSS
 */

@media (min-width: 768px) {
  /* Pull out the footer */
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width:100%; /* Must be percentage or pixels for horizontal alignment */
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  #about{
  width:700px;
  margin-left:auto;
  margin-right:auto;
  }

  .panel-body{
  text-align:center;
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

div.acote{
	position:absolute;
	right:10px;
	top:70px;
	width:400px;
	height:530px;
	border:solid;
}