/* CSS declarations go here */
.mouseOn{
	background-color: #D8D8D8 ;
}
.selected{
	background-color: #C0C0C0 ;
}
.navbar{
  position : absolute;
}
.mouseOnWord{
	background-color: #FFFF99 ;
}
.selectedWord{
	background-color: #FFFF66 ;
}

form {
     display:inline;
     margin:0px;
     padding:0px;
}
.panel{
  width: 80%;
  margin: 0 auto; 
}


/*.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}


/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: arial, Georgia, Serif;
}
body {
  text-align: center;
/*  color:  #000000;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

.navbar{
  font-weight: bold;
}
.navbar-inverse .navbar-brand{
  font-size : 22px;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the footer */
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width:100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}



button, input, optgroup, select, textarea {
  color : black;
}
/*.content {
  text-align:center; 
  padding:50px 0;
}*/

/* The CSS */
/*select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}*/

#about{
	border:solid;
	border-color:grey;
	padding:10px;
	border-style:groove;	
	border-radius:2px;
	border-width:12px;
	width:auto;
}


#main{
	display:block;
	margin:100px;
	width: 1000px;
	height:700px;
}

.reveal .progress{
	height:5px;
	background-color:red;
}

.reveal aside.notes {
	display:block;
}

.real .progress span {
	background-color:red;
}