<template name="displaySlide">
	{{#if thereIsSlide}}
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{{#each displaySlide}}
			<div class="displaySlide panel {{displaySlideCss}}">
				<div class="panel-heading" role="tab" id="headingTwo">
				    <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{numH}}{{numV}}" aria-expanded="false" aria-controls="collapseTwo">Slide n° {{numH}}.{{numV}}
				        </a>
				    </h4>
				</div>
			</div>
			<div id="{{numH}}{{numV}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					{{#if thereIsWord notes}}
						{{#each wordOptArray in notes}}
							{{> displayWord var=wordOptArray}}
						{{/each}}
						{{>pushWord var=_id}}
					{{/if}}
				</div>
			</div>
		{{/each}}
		</div>
	{{/if}}
</template>




<template name="pushWord">
	{{#if pushWordForm var}}
		<form>
			<input type="text" name="pushWord" size="4" placeholder="push">
		</form>
	{{/if}}
</template>