<template name="header">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{pathFor 'accueil'}}">Live Subtitles</a>
				</div>
				<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{pathFor 'home'}}">Contribute</a></li>
					{{#if currentUser}}
						<li><a href="{{pathFor 'myCourse'}}">My Course</a></li>
						{{#if isJoined}}
							{{#if isTeacher}}
								<li>{{> APISpeech}}</li>
							{{/if}}
							<li><a href="{{pathFor 'edit'}}">Notes</a></li>
							<li><a href="{{pathFor 'reveal'}}">{{courseName}}</a></li>
							<li><a href="{{pathFor 'indev'}}">In Development</a></li>
						{{/if}}
					{{/if}}
					<li>{{> loginButtons}}</li>
					<li><a href="{{pathFor 'about'}}">About</a></li>
				</ul>
			  </div><!--/.nav-collapse -->
			</div>
		</nav>
</template>