.reveal .progress{
	height:5px;
}

.reveal .progress span {
	background-color:black;
}

.reveal .controls div.navigate-left{
	border-right-color:blue;
}

.reveal .controls div.navigate-right{
	border-left-color:blue;
}
.reveal .controls div.navigate-up{
	border-bottom-color:blue;
}
.reveal .controls div.navigate-down{
	border-top-color:blue;
}


.reveal.default.center{
	width:800px;
	height:600px;
	
}

.reveal.center, .reveal.center .slides, .reveal.center .slides section {
    max-height: 100%;
	min-height:100%;
	max-width:100%;
	min-height:100%;
}

.acote{
	position:absolute;
	right:0;
}

/*********************************************
 * SPEAKER NOTES
 *********************************************/
.reveal aside.notes {
  display: none; }

.reveal .speaker-notes {
  display: none;
  position: absolute;
  width: 70%;
  max-height: 15%;
  left: 15%;
  bottom: 26px;
  padding: 10px;
  z-index: 1;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  overflow: auto;
  box-sizing: border-box;
  text-align: left;
  font-family: Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch; }

.reveal .speaker-notes.visible:not(:empty) {
  display: block; }

@media screen and (max-width: 1024px) {
  .reveal .speaker-notes {
    font-size: 14px; } }

@media screen and (max-width: 600px) {
  .reveal .speaker-notes {
    width: 90%;
    left: 5%; } }